.verticalContainer {
  display: flex;
  flex-direction: column;
}

.horizontalContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.formActions {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nameInput {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  outline: 0px;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px 0px inset;
  font-size: 0.875rem;
  background-color: white;
  width: 100%;
  color: rgb(66, 59, 61);
  font-weight: 200;
  padding: 7px 10px;
  margin: 0px;
  text-align: start;
  text-indent: 0px;
  height: 40px;
}

.button {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Post Grotesk", "Helvetica Neue", Arial, sans-serif;
  border: 1px solid rgb(36, 139, 210);
  transition: all 0.15s linear 0s;
  white-space: pre;
  color: white;
  background-color: rgb(36, 139, 210);
  padding: 0.75rem 1.25rem;
}

.button:disabled {
  background: white;
  color: black;
  opacity: 0.5;
  border: 1px solid rgb(233, 233, 233);
  cursor: default;
}

.text {
  font-size: 1rem;
  margin: 0px 0 10px 0;
  color: #423b3d;
}
